[submodule "slua"]
	path = official-links/slua
	url = https://github.com/pangweiwei/slua
[submodule "tolua"]
	path = official-links/tolua
	url = https://github.com/topameng/tolua
[submodule "ulua"]
	path = official-links/ulua
	url = https://github.com/jarjin/uLua
[submodule "xlua"]
	path = official-links/ulua
	url = https://github.com/Tencent/xlua
